mixin item(id, name, isFav, thumbnail, price)
    li.results--item.item
        h3= name
        form(action=(`toggle-fav/${id}`) method="POST")
            button = `lo gordo`
        img(src=thumbnail)
        span= `${price} €`