extends app

include feedback

block body
    section.login
    h2 Login
    form(action="/login" method="POST")
        input(type="text" name="username" placeholder="Username" value=(username || false))
        input(type="password" name="password" placeholder="Password")
        button LOGIN
    if error
        +feedback('error', error)
    a(href="/register") Register