.header-d
    display: grid
    grid-auto-rows: 30px 50px 40px

    &-1
        diplay: grid
        grid-auto-columns: 50px 40px 50px 60px 1fr 70px 20px 5px 20px
        &__nikeplus
        &__jordan
        &__hurley
            
    &-2
        &__nike
            &-news
            &-man
            &-woman
            &-kid
            &-perso
            &-colle
        &__search
    
        
    &-3
