.register
    display: flex
    flex-direction: column
    margin-left: auto
    margin-right: auto
    width: 50%

    &__buttonRegister
        background-color:  #e2e0e0 
        margin-top: 20px
        width: 117px
        height: 40px
        margin-left: auto
        margin-right: auto
        border-radius: 1rem
    
    &__type
        border-radius: 1rem
        border: 1px solid #b4b4b4
        height: 5vh
        margin: 2vh 0
        font-size: 20px    

    &--hide
        display: none
.login    
    display: flex
    flex-direction: column
    margin-left: auto
    margin-right: auto
    width: 20%

    &__username
        border-radius: 1rem
        border:1px solid #b4b4b4
        height: 5vh
        margin: 2vh 0
        font-size: 20px
    &__password
        border-radius: 1rem
        border:1px solid #b4b4b4
        height: 5vh
        margin: 2vh 0
        font-size: 20px
    
    &__submit
        background-color:  #e2e0e0 
        margin-top: 20px
        width: 117px
        height: 40px
        margin-left: auto
        margin-right: auto
        border-radius: 1rem






.search    
    display: flex
    flex-direction: row
    margin-left: auto
    margin-right: auto
    width: 50%
    margin-bottom:20px
    &__text
        height: 40px
        border:1px solid #b4b4b4
        border-radius: 1rem    

    &__buton
        background-color:  #e2e0e0 
        width: 75px
        height: 40px
        margin-left: auto
        margin-right: auto
        border: 1px solid #b4b4b4
        border-radius: 1rem   

    &__Two
        display: flex
        flex-direction: row
        margin-left: auto
        margin-right: auto
        width: 50%
        margin-bottom:20px

    &__Three
        display: flex
        flex-direction: row
        margin-left: auto
        margin-right: auto
        width: 50%
        margin-bottom:20px
