* 
    margin: 0 auto
    padding: 0
    max-width: 1800px
    font-family: 'Roboto', sans-serif

    body
        width: 100%
        margin: 0 auto
        background-color: #c8d6e5
        overflow-x: hidden
    