body
    height: 100vh
    width: 100%

main
    width: 100%
    
@import config
@import components/Login
@import components/Register
@import components/UpdateUser
@import components/Header
@import components/Search
@import components/Item
@import components/Results
@import components/SortBy
@import components/Detail
@import components/YourListings
@import components/AddListing
@import components/ManageYourRequests
@import components/YourBookings