.nav {
  background-color: #273742;
  font-size: 16px;
  margin: 0 auto;
  letter-spacing: 1px;
}

.nav_ul {
  padding: 7px 0px;
  margin: 0px 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;

}

.nav_ul li {
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 10px;
}

li:hover {
  color: #273742;
  background-color: white;
}

.navbar_item {
  text-decoration: none;
  color: white;
}

.fa-times {
  font-size: 18px;
}

.li-fa-times:hover {
  color: red;
}

.company-name {
  background-color: white;
  text-align: center;
  height: 30px;
  font-size: 24px;
}

.tablet-span {
  display: none;
}


@media (min-width: 500px) {
  .tablet-span {
    display: inline;
  }


}