<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="./style.css" rel="stylesheet">
</head>
<body class=body>
    <header class="header">
        <div class="header__logo"></div>
        <input class="search">
        <nav class="header__nav">
            <button class="nav__search" value="search"></button>
            <button class="nav__notifications"></button>
            <button class="nav__profile"></button>
            <button class="nav__profile--active"></button>
        </nav>
    </header>
    <main class=main>
        <nav class=main__nav></nav>
        <article class=post>
            <header class=post__header>
                <img class="post__img">
                <h2 class=post__username></h2>
            </header>
            <img>
            <footer>
                <nav class=post__interactions>
                    <button class="interactions__fav"></button>
                    <button class="interactions__fav--active"></button>
                    <button class="interactions__comment"></button>
                    <button class="interactions__share"></button>
                    <button class="interactions__save"></button>
                    <button class="interactions__save--active"></button>
                </nav>
                <section class=post__likes>
                    <button class=likes__num></button>
                    <a class=comment></a>
                    <section class=post__comments></section>
                </section>
                <time class=post__time></time>
                <section class=post__comment>
                    <input class=comment__query value="Add a comment...">
                    <button class=somment__submit value="Publish"></button>
                </section>
            </footer>
        </article>
    </main>
</body>
</html>