<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="./style.css" rel="stylesheet">
</head>
<body class=body>
    <div class=body__profile>
        <header class="header">
            <div class="header__logo"></div>
            <input class="header__search">
            <nav class="header__nav">
                <button class="nav__search nav__button" value="search">A</button>
                <button class="nav__notifications nav__button">B</button>
                <button class="nav__profile nav__button">C</button>
                <button class="nav__profile--active nav__button">C</button>
            </nav>
        </header>
        <main class=main__profile>
            <header class=user>
                <img class=user__pic>
                <section class=user__info>
                    <h1 class=user__name>USERNAME</h1>
                    <button class=user__edit></button>
                </section>
                <section class=userinfo>
                    <h2 class=userinfo__name>username</h2>
                    <p class=userinfo__description></p>
                </section>
            </header>
            <div class=profile>
                <div class=profile__posts></div>
                <div class=profile__followers></div>
                <div class=profile__following></div>
            </div>
            <nav class=profile__menu>
                <div class=profile__grid></div>
                <div class=profile__video></div>
                <div class=profile__collection></div>
                <div class=profile__tagged></div>
            </nav>
            <div class=posts>
                <img class=posts_post>
                <img class=posts_post>
                <img class=posts_post>
                <img class=posts_post>
                <img class=posts_post>
                <img class=posts_post>
            </div>
            <footer class=about>
                <div class=about__us>option</div>
                <div class=about__us>option</div>
                <div class=about__us>option</div>
                <div class=about__us>option</div>
                <div class=about__us>option</div>
                <div class=about__us>option</div>
                <div class=about__us>option</div>
                <div class=about__us>option</div>
                <div class=about__us>option</div>
                <div class=about__us>option</div>
                <div class=about__us>option</div>
            </footer>
        </main>
    </div>
</body>
</html>