.container-homepage {
  height: 100vh;
  overflow: hidden;

  background: url('./mobile_image.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.homepage_navbar {
  padding: 10px 10px;

  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.homepage_navbar span {
  margin-top: 7px;
  font-size: 24px;

  font-weight: bold;
  color: white;
  letter-spacing: 1px;
}

.homepage_navbar #signup {
  width: 125px;
}

#homepage_login {
  /* border: 1px solid pink; */
  justify-content: flex-start;
  /* padding-top: 0px; */
}

#homepage_contact {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0px 15px 20px 0px;
  color: white;
  font-size: 12px;
}

@media (min-width: 375px) {

  .homepage_navbar {
    padding: 10px 15px;
  }
  
  .homepage_navbar span {
    margin-top: 3px;
    font-size: 28px;
  }

}


@media (min-width: 568px) {

  .container-homepage {
    background: url('./desktop_image.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .homepage_navbar span {
    margin-top: 0px;
    font-size: 33px;
    font-weight: bold;
  }

}