.container-weeks-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}


.weeks-buttons {
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: nowrap;
}

.weeks-buttons table tbody tr th {
  text-align: center;
}


.weeks-buttons button {
  background-color: #273742;
  color: white;
  border-radius: 30px 30px 30px 30px;
  font-size: 25px;
  cursor: pointer;
  margin: 3px;
  height: 40px;
}