.deletewindows
    color: white
    border-radius: 20px
    margin-top: 70%
    margin-left: 10%
    position: fixed
    left: 0
    top: 0
    width: 80%
    height: 18%
    overflow: auto
    background-color: #860d0d
    display: flex
    flex-direction: column
.deletebuttons
    display: flex
    justify-content: space-around
    &__accept, &__cancel
        color: white
        height: 150%
        width: 27%
        border: 2px solid white
        border-radius: 20px
        background-color: #860d0d

      