.feedback
    color: white
    border-radius: 20px
    margin-top: 80%
    margin-left: 12.5%
    position: fixed
    left: 0
    top: 0
    width: 75%
    height: auto
    overflow: auto
    background-color: #b8811c
    display: flex
    flex-direction: column
    &--warn
        background-color: #f6901b
        font-size: 150%
        color: #fffefd
        padding-bottom: 10px
    &--error
        text-align: center
        background-color: #860d0d
        font-size: 150%
        color: #fffefd