.home
    display: flex
    flex-direction: column
    background-image: url('https://image.freepik.com/foto-gratis/fondo-madera-madera-textura-patron-wallpaper-concepto_53876-14103.jpg')
    width: 100%
    height: 100%
    &header
        padding: auto
        color: white
        background-color: #814717d7
        border-radius: 10px
        height: 10%
        width: 100%
        display: flex
        &__user 
            align-self: center
            margin-left: 29%
            padding: 0
        &__button
            font-size: 20px
            color: white
            background: transparent
            border: 0
            margin-left: 10%
    &menu
        width: 100%
        height: 90%
        display: flex
        flex-direction: column
        &__programe, &__control
            font-size: 176%
            align-self: center
            color: black
            height: 30%
            width: 85%
            border: 0
            border-radius: 20px
            margin-top: 10%
            background-color: #ffffffbb
        &__control
            // background-image: url("https://image.freepik.com/vettori-gratuito/sfondo-digitale-della-matrice-verde-codice-binario_47243-763.jpg")
            // background-image: url("https://www.multijobys.es/buggy-1000-05-coche-radio-control-coche-rc-coche-r-c-coche-teledirigido_pic231792ni1t0.jpg")
            background-repeat: no-repeat
            background-size: 100% 100%
@media only screen and (min-width: 550px)
    .home
        &header
            justify-content: space-around
            &__user
                text-align: center
                width: 50%
                margin-left: 22%


