body
    margin: 0
    padding: 0
    text-align: center
    width: 95vw
    .app, .root
        margin-right: 0
        display: flex
        height: 100vh
        width: 100vw
    textarea:focus, input:focus
        outline: none
    .page--login, .page--register, .page--home, .page--programe, .page--control
        margin-right: 0
        display: flex
        height: 100%
        width: 100%
        background-image: url("https://wallpapershome.com/images/pages/pic_v/17125.jpg")
        background-repeat: no-repeat
        background-attachment: fixed
        background-size: cover
    .page--programe, .page--control
        background-image: url('https://image.freepik.com/foto-gratis/fondo-madera-madera-textura-patron-wallpaper-concepto_53876-14103.jpg')
        background-repeat: no-repeat
        background-attachment: fixed
        background-size: cover
    .page--programs
        margin-right: 0
        display: flex
        height: 100%
        width: 100%
        background-color: #b8811c
    .page__container
        width: 100vw

