.menu
    display: flex
    flex-direction: column
    &header
        color: white
        border-bottom: 5px solid white
        display: flex
        flex-direction: row
        justify-content: space-around
        &__name
            margin-left: 20%
        &__button
            font-size: 170%
            color: white
            background-color: #b8811c
            border: 0
    &body
        
        &__item
            outline: none
            margin: 0
            padding: 0
            display: flex
            flex-direction: column
        &__program
            border-bottom: 1px solid white
            color: white
            justify-content: space-between
            display: flex
            flex-direction: row
        &__name
            align-self: left
            width: 50%
            margin-left: 5%
        &__go
            outline: none
            margin-right: 10%
            font-size: 150%
            color: green
            background-color: #b8811c
            border: 0
        &__delete
            outline: none
            margin-right: 10%
            font-size: 150%
            color: red
            background-color: #b8811c
            border: 0