*{
    margin: 0;
}

body{
    height: 100vh;
    color: grey;
    
}
header{
    height: 8%;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    width: 100%;
}

header > div {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    
}

header > div > div {

    width: 20%;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

header > div > nav {

    width: 20%;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;


}

main > section {
    height: 40%;
    border-bottom: 1px solid grey;
}


