

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class = "header">
        
        <div class="header__logo">SETTINGS</div>
        <div class="header__search">NAME</div>
        <nav class="header__social">SOCIAL</nav>
        
    </header>

   
        <section class="profile">PROFILE</section>

       
        <div class="flex">
            <section class="profile-post">PICTURE</section>
            <section class="profile-post">PICTURE</section>
            <section class="profile-post">PICTURE</section>
            <section class="profile-post">PICTURE</section>
            <section class="profile-post">PICTURE</section>
            <section class="profile-post">PICTURE</section>
        </div>
    
    
</body>
</html>