.item
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  color: white
  background-color: #272727
  border-radius: 3rem
  margin: 2rem
  box-shadow: 15px 25px 39px 1px rgba(0,0,0,0.8)
  transition: all .2s ease-in-out
  transform: scale(1)
  cursor: pointer
  font-family: 'Montserrat', sans-serif
  &:hover
    transition: all 200ms ease-in
    transform: scale(1.15)
  img 
    border-radius: 1rem
  div
    h2 
      padding: 0.5rem
      font-size: 1.25rem
    div
      display: flex
      justify-content: center
      margin-bottom: 0.5rem
  button
        border: 1px solid white
        border-radius: 1rem
        width: 5rem
        padding: 0.5rem
        width: 5rem
        margin: 0.5rem
        outline: none
        margin: 0.75rem
