$whitecolor: rgba(255, 255, 255, 1)
$lighterblue: #b1d1f2
$electricblue: #77ace0
$backyellow: #d9e22f

%title
    font-family: AgencyBlackItalic, Italic
    color: $electricblue
    font-weight: bold

%detail
    display: flex
    flex-direction: row
    justify-content: flex-start















