<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KarmaZon</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form class="login">
        <h1 class="login__title">KarmaZon - Login</h1>
        <input type="text" class="login__username" placeholder="Username" required>
        <input type="text" class="login__password" placeholder="Password" required>
        <button type="submit" class="login__submit">Login</button>
        <a href="">Sign up</a>
    </form>    
</body>
</html>