<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">   
</head>
<body>


    <header>


        <div class="menu-superior">
            <div class="menu-superior__marcas">
                <nav class="marcas">
                    <ul class="marcas__menu">
                        <li class="marcas__nikeplus">NP</li>
                        <li class="marcas__jordan">Jordan</li>
                        <li class="marcas__hurley">Hurley</li>
                        <li class="marcas__converse">Converse</li>
                    </ul>
                </nav>
            </div>
            <div class="menu-superior__ajustes">   
                <nav class="ajustes">
                    <ul class="ajustes__menu">
                        <li class="ajustes__login">Regístrate / Inicia sesion</li>
                        <li class="ajustes__ayuda">Ayuda</li>
                        <li class="ajustes__carrito"><i class="fas fa-shopping-cart fa-lg"></i></li>
                        <li class="ajustes__ubicacion"><i class="fas fa-map-marker-alt fa-lg"></i><a>  España</a> </li>
                    </ul>
                </nav>
            </div>
        </div>



        <div class="menu">

            <div class="logo-nike">
                <div class="logo"></div>
            </div>

            <div class="menu-principal">
                <nav class="categorias">
                    <ul class="categorias__menu">
                        <li class="categorias__novedades">novedades</li>
                        <li class="categorias__hombre">hombre</li>
                        <li class="categorias__mujer">mujer</li>
                        <li class="categorias__niño">niño/a</li>
                        <li class="categorias__personalizar">personalizar</li>
                        <li class="categorias__colecciones">colecciones</li>
                    </ul>
                </nav>
            </div>

            <div class="busca">
                <div class="search"><i class="fas fa-search fa-lg"></i><a>  Buscar</a> </div>
            </div>
        </div>



        <div class="banner">
            <div><i class="fas fa-angle-left fa-lg"></i></div>
            <div>CLICK AND COLLECT</div>
            <div><i class="fas fa-angle-right fa-lg"></i></div>
        </div>


        <div class="mobile-menu">
            <div>LOGO</div>
            <div class="menu-icons">
                <div><i class="fas fa-search fa-lg"></i></div>
                <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                <div><i class="fas fa-bars fa-lg"></i></div>
            </div>
        </div>
    </header>

</body>
</html>