@import utils

%button
    +border(1px, solid, silver, 5px)
    font-size: 1rem
    line-height: 1.15
    margin: 0

%button-select
    text-transform: none
    button-style: none
    border: none
    text-decoration: none
    text-align: center
    background-color: transparent
    
button,
input,
optgroup,
select,
textarea
    font-family: inherit
    font-size: 1rem
    line-height: 1.15
    margin: 0
button,
select,
[type="button"]
    text-transform: none
    button-style: none
    border: none
    text-decoration: none
    text-align: center
    background-color: transparent