$header-nav-height: 40px
$header-main-nav-height: 72px
$padding-menu: 50px

$grey: rgb(248, 248, 248)
$black: rgb(17, 17, 17)

$main-font: "Helvetica Neue", Helvetica, Arial, sans-serif
$nav-font: 'Oswald', sans-serif