%item   
.item__img
    max-width: 45vh
    max-height: 45vh
    flex: 1 0 34%

.item__caption
    max-width: 45vh

.item__info
    +flex(row, space-between)

.item__line
    line-height: 25px

.item__name
    max-width: 50%