@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')
    
    
.charts
    position: absolute
    top: 0
    width: 90.5%
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: flex-end
    color: #373737
    transition: .5s
    background-color: #fff
    align-items: center
    font-family: 'Montserrat', sans-serif
    animation-name: slideInLeft
    animation-duration: 0.6s
    animation-delay: 0s
    animation-iteration-count: 1
    z-index: 929292
    

@keyframes slideInLeft 
  from 
    opacity: 0
  to 
   opacity: 1
  

.chart-title
    font-size: 2rem
    height: 10%
    width: 98%
    margin: 0.25rem
    margin-top: 0.5rem
    background-color: #fff
    border: solid 1px #e6e6e6
    display: flex
    justify-content: center
    align-items: center
    transition: ease-in 0.5s
    box-shadow: 0.3px 1px 15px #e0dfdf


.chart-estadistics
    display: flex
    justify-content: space-around
    width: 94%
    display: flex
    height: 16%


.chart-estadistics > div
    background-color: #ffffff
    height: 98%
    width: 21%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    box-shadow: 0 12px 60px #55555538, 0 8px 8px #55555538

.est-num
    font-size: 2rem

.circle
    margin: 0.5rem

.charts-wrapper
    display: flex
    flex-flow: row wrap
    justify-content: space-evenly
    align-content: space-evenly
    margin: 0.25rem
    width: 97%
    height: 77.5%
    

.chart-wrapper
    display: flex
    width: 42%
    height: 35%
    background-color: #ffffff
    padding: 1rem
    box-shadow: 2px 3px 30px #a7a7a7

