@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')
    
    
.charts
    height: 100vh
    width: 100%
    display: flex
    flex-direction: column
    color: #373737
    align-items: center
    font-family: 'Montserrat', sans-serif
    animation-name: slideInLeft
    animation-duration: 0.6s
    animation-delay: 0s
    animation-iteration-count: 1

  
@keyframes slideInLeft 
  from 
    
    opacity: 0
  

  to 
   opacity: 1
  



  



.chart-title
    font-size: 2rem
    height: 10%
    width: 98%
    margin: 0.25rem
    margin-top: 0.5rem
    background-color: #fff
    border: solid 1px #e6e6e6
    display: flex
    justify-content: center
    align-items: center
    transition: ease-in 0.5s

.chart-estadistics
    display: flex
    justify-content: space-between
    width: 98%
    margin: 0.25rem
    display: flex
    height: 15%

.chart-estadistics > div
    background-color: #ffffff
    border: solid 1px #e6e6e6
    height: 99%
    width: 24%
    
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    // position: relative
    // width: 250px
    // background: linear-gradient(0deg,#fafafa,#fff ,#fafafa)
    // display: flex
    // justify-content: center
    // align-items: center
    // height: 300px
    // border-radius: 4px
    // text-align: center
    // overflow: hidden
    // trnasition: 0.5s
    // &:hover
    //     transform: translateY(5px)
    //     box-shadow: 0 15px 35px rgba(0, 0, 0, .5)
    //     .number h2 
    //         font-size: 60px
    //         color: #fff
    

// .percent
//     position: relative
//     width: 150px
//     height: 150px
//     border-radius: 50%
//     box-shadow: inset 0 0 50px #000
//     background: #222
//     z-index: 1000

// .number
//     position: absolute
//     top: 0
//     left: 0
//     width: 100%
//     height: 100%
//     display: flex
//     justify-content: center
//     align-items: center
//     border-radius: 50%
//     h2 
//         color: #777
//         font-weight: 700
//         font-size: 40px
//         transition: 0.5s


.est-num
    font-size: 2rem

.charts-wrapper
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-content: space-between
    margin: 0.25rem
    width: 98%
    height: 75%
    margin-bottom: 0.5rem

.chart-wrapper
    display: flex
    width: 47%
    height: 43.5%
    background-color: #ffffff
    border: solid 1px #e6e6e6
    padding: 1rem


// svg
//     position: relative
//     width: 150px
//     height: 150px
//     z-index: 1000


// svg circle
//     width: 100%
//     height: 10%
//     fill: none
//     stroke: #191919
//     stroke-linecap: round
//     stroke-width: 10
//     transform: translate(5px, 5px)

// svg circle:nth-child(2)
//     stroke-dasharray: 220
//     stroke-dashoffset: 220
//     stroke: #00ff43 
//     // // #00a1ff
//     //     /** #ff04f3 **/
  
