.home
  padding-left: 4rem
  padding-right: 4rem
  height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  /** background-color: #f6faff **/
  // background-color: #ECF4F9
  transition: .5s all
  background: rgba(246,250,255,1)
  background: linear-gradient(90deg, rgba(246,250,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 76%, rgba(246,250,255,1) 100%)


.right-padding
  padding-right: 18rem !important


.on-live
  height: 24vh
  display: flex
  width: 97%
  align-items: center
  justify-content: center
  color: white


canvas
  width: 100% !important
  height: 100% !important
 


       
                
            
        
    

