.navbar-left {
  position: fixed;
  background-color: #fff;
  -webkit-transition: width 600ms ease;
  transition: width 600ms ease;
  z-index: 4;
}

.lnav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.lnav_item {
  width: 100%;
}

.lnav-logo_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  color: #1f1f1f;
  text-decoration: none;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.lnav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  color: #1f1f1f;
  text-decoration: none;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
  -webkit-transition: 600ms;
  transition: 600ms;
  margin: 1.25rem 0;
}

.lnav_link:hover {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  background: #e4e4e4;
  color: #000000;
}

.active {
  background: #5A5A5A;
  color: #fff;
}

.lnav_svg {
  margin: 0 1.25rem;
}

.lnav_linktext {
  display: none;
  margin-left: 1rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary, .fa-secondary {
  -webkit-transition: 600ms;
  transition: 600ms;
}

.lnav_logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-align: center;
  background: #282c34;
  font-size: 1.1rem;
  letter-spacing: 0.2ch;
  width: 100%;
}

.lnav_logo img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 600ms;
  transition: 600ms;
}

.react-logo {
  max-width: 5rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    -webkit-animation: React-logo-spin infinite 20s linear;
            animation: React-logo-spin infinite 20s linear;
  }
}

@-webkit-keyframes React-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes React-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.lnav_logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  color: #fff;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.navbar-left:hover .lnav_logo img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar-left {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar-left:hover {
    width: 18rem;
  }
  .navbar-left:hover .lnav_linktext {
    display: inline;
  }
  .navbar-left:hover .lnav_logo img {
    margin-left: 11rem;
  }
  .navbar-left:hover .lnav_logo-text {
    left: 0px;
  }
}
/*# sourceMappingURL=Navbar-left.css.map */