
.navbar-right
  position: fixed
  // border-left: 1px solid #5A5A5A
  background-color:#fff
  transition: width 600ms ease
  z-index: 4
 

.rnav
  overflow: scroll
  list-style: none
  padding: 0
  margin: 0
  display: flex
  flex-direction: column
  align-items: center
  height: 100%

.rnav_item
  width: 100%

  

.rnav_button
  padding:  1rem
  border: 1px solid #61DAFB
  font-size: 1.25rem
  border-radius: 50%
  


.rnav-logo_link
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 5rem
  color: #1f1f1f
  text-decoration: none
  // filter: opacity(0.7)
  transition: 600ms

.rnav_link
  display: flex
  align-items: center
  height: 5rem
  color: #1f1f1f
  text-decoration: none
  filter: opacity(0.7)
  transition: 600ms

  &:hover
    
    filter:  opacity(1)
    background: #e4e4e4
    color: #000000

.rnav_linktext
  // display: none
  display: inline
  margin-right: 1rem
  margin-left: 2rem


.fa-primary
  color: #ff7eee

.fa-secondary
  color: #df49a6

.fa-primary, .fa-secondary
  transition: 600ms

.rnav_logo
  font-weight: bold
  text-transform: uppercase
  margin-bottom: 1rem
  text-align: center
  color: #000000
  background: #282c34
  font-size: 1.1rem
  letter-spacing: 0.2ch
  width: 100%
  list-style: none

  img
    transform: rotate(0deg)
    transition: 600ms


  

.rnav_logo-text
  display: inline
  position: absolute
  direction: rtl
  margin-left: auto
  right: -999px
  
  transition: 600ms

.navbar-right:hover .rnav_logo img
  transform: rotate(-180deg)

/* Large screens
@media only screen and (min-width: 600px)
  .navbar-right
    top: 0
    right: 0
    width: 20rem
    height: 100vh

    &:hover
      // width: 20rem

      .rnav_linktext
        display: inline
        

      .rnav_logo img
        margin-right: 11rem

      .rnav_logo-text
        right: 4rem


.little
  width: 5rem 

.rnav_svg
  min-width: 3rem !important
  min-height: 3rem
  font-size: 2rem
  padding: 0.6rem
  border-radius: 50%
  background-color: #5A5A5A
  color: #fff
  margin-left: 0.5rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  em 
    font-size: 1rem