
.navbar-left
  position: fixed
  background-color:#fff
  // border-right: 1px solid #fff
  z-index: 4
  top: 0
  width: 4rem
  height: 100vh
 

.lnav
  list-style: none
  padding: 0
  margin: 0
  display: flex
  flex-direction: column
  align-items: center
  height: 100%
  

.lnav_logo
  font-weight: bold
  text-transform: uppercase
  margin-bottom: 3rem
  text-align: center
  background: #282c34
  font-size: 1.1rem
  letter-spacing: 0.2ch
  width: 100%

.lnav_item
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  display: flex
  justify-content: center
  height: 4rem
  color: #1f1f1f
  text-decoration: none
  // filter: opacity(0.7)
  transition: 600ms
  cursor: pointer
  margin: 3.75rem 0
  &:hover
    background: #203246
    color: #fff


.lnav-logo_link
  display: flex
  align-items: center
  height: 4rem
  color: #1f1f1f
  text-decoration: none
  transition: 600ms
  max-width: 4rem
  cursor: pointer
  transform: rotate(0deg)
  transition: 600ms


.active
    background: #203246
    color: #fff



@media (prefers-reduced-motion: no-preference) 
  .lnav-logo_link 
    animation: React-logo-spin infinite 20s linear

@keyframes React-logo-spin 
  from 
    transform: rotate(0deg)
  
  to 
    transform: rotate(360deg)


