.container_credit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit {
  border: 1px solid #273742;
  margin: 10px 0;
  padding-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 95%;
  position: relative;
}

.p_name {
  font-size: 26px;
  margin-bottom: 5px;
  text-align: center;
}

.p_amount {
  font-size: 20px;
  margin: 7px auto;
}

.span_cancel {
  height: 40px;
  width: 140px;
  font-size: 18px;
  margin: 20px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  background-color: red;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.exit {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 28px;
  background-color: red;
  padding: 0px 8px;
  color: white;
  cursor: pointer;
}

.credit select {
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
  
}

.credit .container-select {
  display: flex;
  margin-bottom: 20px;
}

.credit .container-input-date {
  display: flex;
}

.p-constitution {
  font-size: 20px;
  margin: 7px auto;
}

.input-constitution {
  font-size: 20px;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
}

