@import config

.gallery
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    width: 100%

    &__post
        width: 49.25vw
        margin-bottom: 10%

        &-photo
            margin-bottom: 3%
            max-width: 49.25vw

        &-name
            font-family: $search-results
            font-size: 14px
            padding-top: 2px

        &-desc
            font-family: $search-results
            font-size: 14px
            color: $gallery-desc
            padding-top: 2px

        &-price
            font-family: $search-results
            font-size: 14px
            padding-top: 2px

