@import config

.more-info
    width: 50%
    margin: 5% 0% 10% 5%
    
    & > p
        border-bottom: 1px solid $border-down
        
.misc
    display: grid
    grid-template-columns: 1fr 20px
    grid-template-rows: 3fr

    &-1
        grid-area: 1 / 1 / 1 / 1