.home
    display: flex
    flex-direction: column
    width: 100%
    align-items: center
    &__actions
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        width: 25%

        & > form, & > p > a
            border: 1.5px solid black
            text-decoration: inherit
            color: inherit
            cursor: auto
            padding: 5px