@import url(https://fonts.googleapis.com/css?family=Roboto|Tomorrow&display=swap)

body
    display: flex
    flex-direction: column
    align-items: center
    font-family: Roboto
    text-align: center
    background-color: #f7f7f7


h1, h2, h3, h4, h5, h6
    font-family: Tomorrow
    margin: 0
    padding: 0
    text-indent: 0
    list-style-type: none

ul
    list-style: none

