mixin search(query)
    form.search(action="/search" method="GET")
        h2 Search
        input.search__query(type="text" name="query" placeholder="criteria" value=(query || false))
        button.search__button(type="submit") Search
    br
