*
    box-sizing: border-box
body
    text-align: center
    margin: 0

ul
    list-style-type: none
    margin: 0
    padding: 0

#root
    height: 100vh

@import components/style/search
@import components/style/login
@import components/style/register
@import components/style/feedback

@import components/style/results
@import components/style/item
@import components/style/detail
@import components/style/update
@import components/style/avatar
@import components/style/navbar
@import components/style/main
@import components/style/checkbox
@import components/style/filter
@import components/style/select
@import components/style/app
@import components/style/footer

@import components/style/a
@import components/style/container-login

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css')