@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0;
  margin: 0;
}
.search input {
  display: block;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.search button {
  display: block;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.login {
  display: inline-block;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}
.login input {
  display: block;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.login a {
  padding: 0.5rem;
  margin: 0.5rem;
}

.register {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}
.register--hide {
  display: none;
}
.register input {
  display: block;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.register button {
  display: block;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.register a {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
}

.feedback {
  color: green;
}
.feedback--error {
  color: red;
}
.feedback--warning {
  color: orange;
}

.results {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
  background: #f2f2f2;
  background: white;
  background-color: white;
}

.item {
  width: calc( 95wv/3 );
  border: 1px solid white;
  margin-bottom: 5px;
}

.detail {
  background-color: #BECBD9;
  display: grid;
  grid-template: auto auto auto auto/auto;
  margin: 1rem auto 0;
}
.detail__title {
  grid-area: 1/1/span 1/span 1;
}
.detail__img {
  grid-area: 2/1/span 1/span 1;
  margin: 0 auto;
  box-shadow: 0px 0px 20px 3px;
  border-radius: 0.75rem;
}
.detail__extra {
  grid-area: 3/1/span 1/span 1;
}
.detail__text {
  grid-area: 4/1/span 1/span 1;
  margin: 0.5rem 0.5rem 1rem;
}
@media (min-width: 1024px) {
  .detail {
    width: 90%;
    margin: 2rem auto;
    grid-template: auto auto auto/1fr 1fr;
  }
  .detail__title {
    margin: 0 auto;
    grid-area: 1/1/span 1/span 2;
  }
  .detail__img {
    grid-area: 2/1/span 1/span 1;
    margin: 0 0 0 52%;
  }
  .detail__extra {
    grid-area: 2/2/span 1/span 1;
  }
  .detail__extra__text {
    margin: 37px 0% 0px 34px;
    text-align: left;
  }
  .detail__text {
    grid-area: 3/1/span 1/span 2;
    margin: 2rem;
  }
}

.update {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}
.update input {
  display: block;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.update button {
  display: block;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: purple;
  color: yellow;
}

.avatar {
  background-color: purple;
  color: yellow;
  margin: 0;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.avatar > * {
  margin: 0;
}
.avatar button {
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.navbar {
  background-color: black;
  width: 100wv;
  height: 55px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
}
.navbar .logo {
  font-size: 24px;
  width: 20%;
}
.navbar .logo label {
  display: flex;
  flex-direction: column;
}
.navbar .items {
  width: 40%;
  display: none;
}
.navbar .items ul {
  display: flex;
  justify-content: space-around;
}
.navbar .items ul li:hover {
  color: #be630e;
  cursor: pointer;
}
.navbar .profile {
  width: 20%;
  display: none;
}
.navbar .profile label:hover {
  color: #be630e;
  cursor: pointer;
}
.navbar .bars {
  margin-right: 20px;
}

@media (min-width: 700px) {
  .navbar {
    flex-direction: row;
  }
  .navbar .items {
    display: block;
  }
  .navbar .profile {
    display: inline;
  }
  .navbar .bars {
    display: none;
  }
}
main {
  background-color: black;
}

.checkbox {
  color: white;
}

.filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.filter > h3 {
  border: 1px solid white;
  margin-bottom: 0px;
}

@media screen and (min-width: 700px) {
  .filter {
    flex-direction: row;
  }
}
.select {
  height: 20px;
  color: black;
  background-color: white;
}
.select option {
  background-color: white;
  border-color: yellow;
  color: pink;
}

.background {
  width: 80%;
}

.a {
  color: white;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-backface-visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.container-login:before, .container-login:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-login:before {
  -moz-transition: background-color 2.5s ease-in-out;
  -webkit-transition: background-color 2.5s ease-in-out;
  -ms-transition: background-color 2.5s ease-in-out;
  transition: background-color 2.5s ease-in-out;
  -moz-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  -ms-transition-delay: 0.75s;
  transition-delay: 0.75s;
  background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("overlay.png");
  background-size: auto, 256px 256px;
  background-position: center, center;
  background-repeat: no-repeat, repeat;
  z-index: 2;
}

.container-login:after {
  -moz-transform: scale(1.125);
  -webkit-transform: scale(1.125);
  -ms-transform: scale(1.125);
  transform: scale(1.125);
  -moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out;
  -webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out;
  -ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out;
  transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;
  background-image: url("bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

body.is-article-visible .container-login:after {
  -moz-transform: scale(1.0825);
  -webkit-transform: scale(1.0825);
  -ms-transform: scale(1.0825);
  transform: scale(1.0825);
  -moz-filter: blur(0.2rem);
  -webkit-filter: blur(0.2rem);
  -ms-filter: blur(0.2rem);
  filter: blur(0.2rem);
}

body.is-loading .container-login:before {
  background-color: #000000;
}

/*# sourceMappingURL=style.css.map */
