.container-login
  height: 100vh
  background: url("https://www.ecopetit.cat/wpic/mpic/42-423215_minimalist-magic-the-gathering.jpg") no-repeat center center fixed
  background-size: cover
  display: flex
  justify-content: center
  align-items: start
  padding-top: 10%
