.detail
    background-color: #BECBD9
    display: grid
    grid-template: auto auto auto auto auto / auto
    width: 100%
    &__button
        grid-area: 1 / 1 / span 1 / span 1
        width: 5rem
        margin: .9rem auto 0
        font-size: .7rem
        height: 3vh
    &__title
        h1
            display: inline
        button
            background-color: green
            color: white
            height: 20px
            width: 10px
            border-radius: 10px
    &__img
        grid-area: 2 / 1 / span 1 / span 1
    &__img
        grid-area: 3 / 1 / span 1 / span 1
        margin: 0 auto
        box-shadow: 0px 0px 20px 3px
        border-radius: .75rem
    &__extra
        grid-area: 4 / 1 / span 1 / span 1
    &__text
        grid-area: 5 / 1 / span 1 / span 1
        margin: 0 .5rem 1rem
    @media ( min-width: 1024px )
        width: 100%
        height: 92vh
        margin: 0 auto
        grid-template: auto auto auto / 1fr 1fr
        &__title
            margin: 0 auto
            grid-area: 1 / 1 / span 1 / span 2
        &__img
            grid-area: 2 / 1 / span 1 / span 1
            margin: 0 0 0 52%
        &__extra
            grid-area: 2 / 2 / span 1 / span 1
            &__text
                margin: 37px 0% 0px 34px
                text-align: left
        &__text
            grid-area: 3 / 1 / span 1 / span 2
            margin: 2rem