@import variables
    
.main-container
    height: (100vh - $heigth-navbar)
    display: flex
    background-color: #1D1D1D
    background: radial-gradient(circle, #fff 35%, #383838 100%)   

    &__forsale
        // height: (100vh - $heigth-footer - $heigth-navbar)
        min-height: 100vh
        display: flex
        flex-direction: row
        justify-content: space-evenly
        background-color: #1D1D1D
        background: radial-gradient(circle, #fff 35%, #383838 100%)   



@media screen and ( max-width: 700px)
    .main-container
        flex-direction: column
        align-items: center