@import variables
.navbar
  background-color: black
  width: 100wv
  height: $heigth-navbar
  color: white
  display: flex
  justify-content: space-between
  align-items: center
  border-bottom: 2px solid white

  .logo
    font-size: 24px
    width: 20%

    label
      display: flex
      flex-direction: column

  .items 
    width: 40%
    display: none

    ul
      display: flex
      justify-content: space-around

      li:hover
        color: #be630e
        cursor: pointer

  &__profile
    width: 20%
    display: none

    label:hover 
      color: #be630e
      cursor: pointer

  .bars
    margin-right: 20px
    cursor: pointer


@media (min-width: 700px)
  .navbar
    flex-direction: row

    .items 
      display: block

    &__profile
      display: inline

    .bars
      display: none
