.navbar
  background-color: black
  width: 100wv
  height: 60px
  color: white
  display: flex
  justify-content: space-between
  align-items: center

.logo
  font-size: 24px
  width: 20%

  // const labels = {
  //   display: 'flex',
  //   flexDirection: 'column',
  // }

  // const ul = {
  //   display: 'flex',
  //   justifyContent: 'space-around'
  // }

  // const items = {
  //   width: '40%'
  // }

  // const profile = {
  //   width: '20%'
  // }
