@import variables

.navbar
  
  background-color: black
  width: 100wv
  height: $heigth-navbar
  color: white
  display: flex
  justify-content: space-between
  align-items: center
  font-family: 'Montserrat', sans-serif
 

  .logo
    display: flex
    align-items: center
    justify-content: flex-start
    width: 25%
    height: 100%
    img 
      max-width: 10rem
      margin: 1rem
    


  .items 
    width: 50%
    height: 100%
    display: none
    ul
      display: flex
      justify-content: space-around
      align-items: center

      li 
        display: flex
        align-items: center
        height: 100%

      li:hover
        color: #be630e
        border-bottom: 3px solid  #be630e
        cursor: pointer
        
  

  &__profile
    width: 25%
    height: 100%
    display: none
    div 
      margin-left: 2rem

    label:hover 
      color: #be630e
      cursor: pointer
      border-bottom: 3px solid  #be630e

  .bars
    margin-right: 20px
    cursor: pointer


@media (min-width: 700px)
  .navbar
    flex-direction: row

    .items 
      display: flex
     
      ul
        height: 100%
        width: 100%
        display: flex
        align-items: center
        justify-content: space-evenly

    &__profile
      display: flex
      align-items: center
      justify-content: center

    .bars
      display: none
