@import variables

.results
  display: flex
  justify-content: space-evenly
  align-items: center
  flex-wrap: wrap
  max-width: 80%
  background: rgb(242, 242, 242)
  background: white
  background-color: white
  overflow: scroll

.results-nocards
  height: (((48.5vh - $heigth-navbar) - $heigth-footer ) -$heigth-search )
  background-color: black
  margin-bottom: -5px
  padding: 0

@media (max-width: 698px)
  .results
    overflow: visible

@media (min-width: 698px)

  .results-nocards
    height: $heigth-nocards
    background-color: white
    background: url('magic-search.jpg') no-repeat center center
    animation: slide 1s linear
    background-image: 100%
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

    @keyframes slide
      0%
        opacity: 0.1

      100%
        opacity: 1