.details
    width: 90%
    margin-top: 0.5rem
    &__title
        text-align: center
        margin: 0.5rem 0 0.5rem 0
    &__card
        @extend %flex-wrap
        justify-content: flex-start
        width: 100%
    &__card-footer
        display: flex
        justify-content: space-between
        padding: 1rem
        background-color: #6d6b6b
    &__img
        width: 100%