.favorites
    width: 90%
    height: 90%

    &__list
        width: 100%

    &__title
        font-family: Get Schwifty
        font-size: 2rem
        margin-top: 1rem
        text-align: center
    &__nav
        width: 100%
        @extend %flex-wrap