body
    background-color: #303055
    margin: 0
    padding: 0
    box-sizing: border-box
    width: 100vw
    height: 100vh
<<<<<<< HEAD
    max-width: 100%

a
=======
    
    
a 
>>>>>>> feature/results-style
    text-decoration: none
    color: inherit
ul
    list-style: none
    padding-inline-start: 0
