body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.app {
  height: 100%;
}

#root {
  margin: 0;
  padding: 0;
  background-color: #f1f3f4;
  width: 100%;
  height: 100%;
}

html {
  background-color: #f1f3f4;
}

input, button {
  border: none;
  background-color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

h1, h2, h3, h4, h5, h6, .searchSeason__title {
  color: #2a7886;
  margin: 0;
  text-align: center;
}

.favorites__nav, .searchSeason__component, .search__filters, .details__card, .results {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}

.app, .favorites, .landing, .searchSeason__season, .search, .login, .register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__input, .login__input, .register__input {
  border: none;
  background-color: #f1f3f4;
  width: 60%;
  height: 7%;
  border-radius: 5px;
  padding: 0.2rem;
}

.nav {
  box-sizing: border-box;
  background-color: #79bac1;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  color: #2a7886;
  padding: 0.3rem;
  width: 100%;
  font-size: 1.5rem;
}
.nav__right-container {
  height: 25%;
}
.nav__options {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1rem;
  position: absolute;
  height: 50vh;
  top: 100%;
  left: 0px;
  background-color: #79bac1;
  width: 100%;
  color: 2a7886;
}
.nav__link, .nav__logout {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: tomcat DEMO;
}
.nav__logout {
  text-align: left;
  color: #2a7886;
}
.nav__user {
  color: #2a7886;
  top: 0;
  font-size: 1rem;
}

.register {
  justify-content: space-evenly;
  width: 60%;
  height: 50%;
  background-color: #79bac1;
  border-radius: 5px;
  margin-top: 2rem;
}
.register__link {
  font-size: 0.7rem;
  text-align: center;
}

.results {
  padding: 0;
}
.results__item {
  margin-bottom: 5rem;
  -webkit-box-shadow: 4px 0px 10px 0px #512b58;
  -moz-box-shadow: 4px 0px 10px 0px #512b58;
  box-shadow: 4px 0px 10px 0px #512b58;
}
.results__title {
  font-family: Get Schwifty;
  font-size: 1.2rem;
  margin: 0.5rem;
}

.login {
  justify-content: space-evenly;
  width: 60%;
  height: 50%;
  background-color: #79bac1;
  border-radius: 5px;
  margin-top: 2rem;
  font-family: tomcat DEMO;
  font-size: 1.5rem;
}
.login__link {
  font-size: 0.7rem;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.5rem;
  color: #512b58;
}
.login__button {
  font-size: 1rem;
  font-family: tomcat DEMO;
  border-bottom: #512b58;
  color: #2a7886;
}

.details {
  width: 90%;
  margin-top: 0.5rem;
  box-sizing: border-box;
}
.details__header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.3rem;
}
.details__back-button {
  flex-grow: 0.5;
}
.details__title {
  text-align: center;
}
.details__card {
  height: 60%;
}
.details__card-item {
  background-color: #79bac1;
  height: 90%;
}
.details__card-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.details__img {
  width: 100%;
  height: 80%;
}
.details__card-list {
  margin: 0;
  width: 80%;
  height: 14%;
}
.details__list-item {
  display: flex;
  justify-content: space-between;
  height: 100%;
  font-size: 1.1rem;
  color: white;
  padding-left: 0.8rem;
  border: 1px solid grey;
  align-items: flex-end;
}
.details__list-item > p {
  margin-bottom: 0;
  margin-top: 0.5rem;
  width: 50%;
}

.item__img {
  width: 100%;
  max-width: 100%;
}

.item {
  border-radius: 5px;
  background-color: #79bac1;
}
.item__heart {
  color: #512b58;
}
.item__desc {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  padding: 0.1em 0.3em;
  margin-top: 0.1rem;
  background-color: #79bac1;
  align-items: center;
  font-family: tomcat DEMO;
}

.search {
  height: 40%;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}
.search__title {
  font-family: Get Schwifty;
  font-size: 1.2rem;
  color: #2a7886;
  margin: 1rem;
}
.search__filter {
  color: #512b58;
  font-size: 1rem;
  font-family: tomcat DEMO;
}
.search__name {
  font-size: 1.2rem;
}
.search__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  height: 30%;
}
.search__input {
  border-radius: 0;
  margin-left: 1rem;
  font-size: 1rem;
  height: 50%;
  border-bottom: 1px solid #2a7886;
}
.search__lens {
  font-size: 1.5rem;
  color: #512b58;
}

.searchSeason {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.searchSeason__title {
  font-family: Get Schwifty;
  margin: 3rem;
  font-size: 4rem;
}
.searchSeason__component {
  width: 100%;
  height: 100%;
}
.searchSeason__season {
  justify-content: space-between;
  margin: 1rem;
}
.searchSeason__image {
  -webkit-box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.searchSeason__button {
  margin-top: 0.5em;
  background-color: #2a7886;
  height: 15%;
  width: 30%;
  border-radius: 5px;
  padding: 0.2rem;
  font-size: 1rem;
  color: #f1f3f4;
  cursor: pointer;
  max-height: 30px;
  font-family: tomcat DEMO;
}
.searchSeason__image {
  max-width: 100%;
}

.landing {
  width: 90%;
  height: 100%;
  justify-content: space-around;
}
.landing__img {
  width: 100%;
  cursor: pointer;
  margin-top: 1rem;
  -webkit-box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.landing__section {
  font-family: Get Schwifty;
  font-size: 1rem;
  text-align: center;
}

.feedback {
  font-size: 1rem;
  text-align: center;
}
.feedback--warning {
  color: lime;
}
.feedback--error {
  color: #ff00008f;
}

.favorites {
  width: 90%;
  height: 100%;
  justify-content: space-around;
}
.favorites__title {
  font-family: Get Schwifty;
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.favorites__img {
  width: 100%;
  cursor: pointer;
  margin-top: 1rem;
  -webkit-box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.favorites__section {
  font-family: Get Schwifty;
  font-size: 1rem;
  text-align: center;
}
.favorites__nav {
  width: 100%;
}

.title {
  width: 100%;
  background-color: #f1f3f4;
}

/*# sourceMappingURL=style.css.map */
