%title
    color: #2a7886
    margin: 0
    text-align: center

%flex-wrap
    display: flex
    flex-wrap: wrap
    width: 90%
    justify-content: center

%flex-column
    display: flex
    flex-direction: column
    align-items: center

%input
    border: none
    background-color: #f1f3f4
    width: 60%
    height: 7%
    border-radius: 5px
    padding: 0.2rem

%button
    border-radius: 5px
    padding: 0.3rem
