.item__img
    width: 100%
    max-width: 100%
    
.item
    border-radius: 5px
    background-color: #79bac1

    &__heart
        color: #512b58
        font-size: 1.5rem
        
    &__desc
        display: flex
        justify-content: space-between
        font-size: 1.7rem
        padding:0.1em 0.3em
        margin-top: 0.1rem
        background-color: #79bac1
        align-items: center
        font-family: tomcat DEMO



