.item__img
    width: 100%
    max-width: 100%
    

div 
    display: flex
    justify-content: space-between
    font-size: 1.7rem
    padding:0.1em 0.3em
    margin-top: 0.1rem
    background-color: #494747
    align-items: center
.item
    border-radius: 5px
    &__heart
        color: red



