
.nav
    box-sizing: border-box
    background-color: #6FC41C
    position: sticky
    top: 0
    display: flex
    justify-content: space-between
    color: #2a1b38
    font-size: 1.5rem
    padding: 0.5rem
    width: 100%
    &__right-container
        height: 25%

    &__options
        display: none
        flex-direction: column
        justify-content: space-around
        font-size: 1rem
        position: absolute
        height: 50vh
        top: 100%
        left: 0px
        background-color: #6FC41C
        width: 100%

    &__link, &__logout
        padding: 0 0.5rem
        font-size: 1.2rem
        cursor: pointer

    // &__menu
    //     display: flex
    //     flex-direction: column
    &__logout
        text-align: left
    &__user
        color: #2a1b38
        top: 0
        font-size: 1rem
    //&__left-container
