body
    margin: 0
    padding: 0
    box-sizing: border-box
    width: 100vw
    max-width: 100%
.app
    height: 100%
#root
    margin: 0
    padding: 0
    background-color: #f1f3f4
    width: 100%
html
    background-color: #f1f3f4

input, button
    border: none
    background-color: inherit

a
    text-decoration: none
    color: inherit
ul
    list-style: none
    padding-inline-start: 0
