
.register
    @extend %flex-column
    justify-content: space-evenly
    width: 60%
    height: 50%
    line-height: 3rem
    background-color: #797474
    border-radius: 5px
    margin-top: 2rem


    &__input
        @extend %input
        


