.results
    padding: 0
    @extend %flex-wrap
    width: 90%
    height: 100%

    &__item
        margin-bottom: 5rem
        -webkit-box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.75)
        -moz-box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.75)
        box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.75)
        


    &__title
        font-family: Get Schwifty
        font-size: 1.2rem
        margin: 0.5rem
       
        
