.results
    padding: 0
    @extend %flex-wrap

    &__item
        margin-bottom: 5rem
        -webkit-box-shadow: 4px 0px 10px 0px #512b58
        -moz-box-shadow: 4px 0px 10px 0px #512b58
        box-shadow: 4px 0px 10px 0px #512b58

    &__title
        font-family: Get Schwifty
        font-size: 1.2rem
        margin: 0.5rem
       
        
