.search
    @extend %flex-column
    height: 30%
    justify-content: space-evenly
    &__title
        font-family: Get Schwifty
        font-size: 1.2rem
    &__container
        display: flex
        justify-content: center
        align-items: flex-end
        width: 80%
        height: 30%
    &__input
        @extend %input
        border-radius: 0
        margin-left: 1rem
        font-size: 1rem
        height: 50%
        border-bottom: 1px solid #E5EC2F
       
    &__lens
        font-size: 1.5rem
        