.search
    
    &__title
        margin-left: 3rem
        font-family: Get Schwifty
        font-size: 3rem
        margin-top: 3rem

    &__input
        @extend %input
        border-radius: 0
        margin-top: 3rem
        font-size: 1rem
        border-bottom: 1px solid #E5EC2F
       
    &__lens
        font-size: 1.5rem
        