.results
    list-style: none
    display: flex
    flex-direction: column
    width: 90%
    text-align: center

    &__item
        padding: 15px
        margin: 10px auto
        background-color: #ecf0f1
        cursor: pointer
        width: 50%
    
    &__title
        font-weight: 300
    
    &__price
        font-size: 1.5em
        color: white
        background-color: #c0392b
        padding: 10px
        font-weight: 200