body
    margin: 0
    padding: 0
    text-align: center
    .divlogin, .divregister
        display: flex
        height: 100vh
        width: 100vw
        background-image: url("https://wallpapershome.com/images/pages/pic_v/17125.jpg")

@import login
@import register