body
    margin: 0
    padding: 0
    text-align: center
    width: 100vw
    textarea:focus, input:focus
        outline: none
    .divlogin, .divregister, .divhome, .divprograme, .divcontrol
        margin-right: 0
        display: flex
        height: 100vh
        width: 100vw
        background-image: url("https://wallpapershome.com/images/pages/pic_v/17125.jpg")
    .divprograme, .divcontrol
        background-image: url('https://image.freepik.com/foto-gratis/fondo-madera-madera-textura-patron-wallpaper-concepto_53876-14103.jpg')

@import login
@import register
@import home
@import programe
@import control