body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
}
body textarea:focus, body input:focus {
  outline: none;
}
body .divlogin, body .divregister, body .divhome {
  margin-right: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url("https://wallpapershome.com/images/pages/pic_v/17125.jpg");
}

.login {
  margin-left: 14.5%;
  margin-top: 40%;
  height: 50%;
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}
.login__tittle {
  margin-top: 15%;
  margin-bottom: 20%;
  height: 5%;
  width: 50%;
  align-self: center;
}
.login__username, .login__password {
  text-align: center;
  border: 0;
  border-bottom: 2px solid black;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 15%;
  height: 5%;
  width: 50%;
  align-self: center;
  color: black;
}
.login__username::-webkit-input-placeholder, .login__password::-webkit-input-placeholder {
  color: black;
}
.login__button {
  align-self: center;
  height: 8%;
  width: 50%;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 20px;
  margin-bottom: 5%;
}

.register {
  margin-left: 14.5%;
  margin-top: 30%;
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}
.register__tittle {
  margin-top: 15%;
  margin-bottom: 20%;
  height: 5%;
  width: 50%;
  align-self: center;
}
.register__name, .register__surname, .register__username, .register__password {
  text-align: center;
  border: 0;
  border-bottom: 2px solid black;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 10%;
  height: 5%;
  width: 50%;
  align-self: center;
  color: black;
}
.register__name::-webkit-input-placeholder, .register__surname::-webkit-input-placeholder, .register__username::-webkit-input-placeholder, .register__password::-webkit-input-placeholder {
  color: black;
}
.register__button {
  align-self: center;
  height: 8%;
  width: 50%;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 20px;
  margin-bottom: 5%;
}

.home {
  display: flex;
  flex-direction: column;
  background-color: #e9dde993;
  width: 100%;
  height: 100%;
}
.homeheader {
  background-color: Cornsilk;
  height: 10%;
  width: 100%;
  display: flex;
  border-bottom: 2px solid black;
}
.homeheader__user {
  align-self: center;
  margin-left: 29%;
  padding: 0;
}
.homeheader__button {
  background: transparent;
  border: 0;
  margin-left: 10%;
}
.homemenu {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.homemenu__programe {
  color: white;
  height: 30%;
  width: 85%;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 5%;
  background-image: url("https://image.freepik.com/vettori-gratuito/sfondo-digitale-della-matrice-verde-codice-binario_47243-763.jpg");
}
.homemenu__control {
  color: white;
  height: 30%;
  width: 85%;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 5%;
  background-image: url("https://www.multijobys.es/buggy-1000-05-coche-radio-control-coche-rc-coche-r-c-coche-teledirigido_pic231792ni1t0.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*# sourceMappingURL=style.css.map */
